default_config:
frontend:
  themes: !include_dir_merge_named themes

# http:
#   ssl_certificate: /ssl/fullchain.pem
#   ssl_key: /ssl/privkey.pem

alert: !include integrations/alert.yaml
automation: !include_dir_merge_list automations
climate: !include integrations/climate.yaml
cover: !include integrations/cover.yaml
group: !include integrations/group.yaml
homekit: !include integrations/homekit.yaml
input_boolean: !include integrations/input_boolean.yaml
light: !include integrations/light.yaml
media_player: !include integrations/media_player.yaml
scene: !include_dir_merge_list scenes
schluter: !include integrations/schluter.yaml
script: !include_dir_merge_named scripts
template: !include integrations/template.yaml
timer: !include integrations/timer.yaml
zone: !include integrations/zone.yaml
